debug = true
color = true
  
shell.logins = STAGE
  

#STAGE.login.hostname = (.*.sj.lithium.com|10\.(16\d|17[012345])\.\d{1,3}\.\d{1,3})
STAGE.login.hostname = 10.161.82.29
STAGE.login.username = vijay.polsani
STAGE.login.keyFile = /Users/vijay.polsani/.ssh/id_rsa-vijay_polsani
STAGE.login.su = lithium

config.loaders = CONFIGS
CONFIGS.loader.class = lithium.util.io.FileLoader
CONFIGS.loader.rootDir = /Users/vijay.polsani/lithium/service/service/configs
#CONFIGS.loader.class = lithium.remote.svn.SVNLoader
CONFIGS.loader.shellLogin = LITHIUM
#CONFIGS.loader.url = svn+ssh://svn.dev.lithium.com/home/svn/trunk/service/configs

script.loaders = SCRIPTS
SCRIPTS.loader.class = lithium.util.io.FileLoader
SCRIPTS.loader.rootDir = /Users/vijay.polsani/lithium/service/service/scripts
#SCRIPTS.loader.class = lithium.remote.svn.SVNLoader
SCRIPTS.loader.shellLogin = LITHIUM
#SCRIPTS.loader.url = svn+ssh://svn.dev.lithium.com/home/svn/trunk/service/scripts
