debug = true
color = true
  
shell.logins = STAGE
LOCAL.login.hostname = localhost
LOCAL.login.username = lithium
LOCAL.login.keyFile = /home/vijay.polsani/.ssh/id_rsa
LOCAL.login.passphrase = 

  
STAGE.login.hostname = (.*.sj.lithium.com|10\.(16\d|17[012345])\.\d{1,3}\.\d{1,3})
STAGE.login.username = vijay.polsani
STAGE.login.keyFile = /home/vijay.polsani/.ssh/id_rsa-vijay_polsani
STAGE.login.su = lithium

LITHIUM.login.hostname = .*.dev.lithium.com
LITHIUM.login.username = lithium
LITHIUM.login.password = XX
  
config.loaders = CONFIGS
CONFIGS.loader.class = lithium.remote.svn.SVNLoader
CONFIGS.loader.shellLogin = LITHIUM
CONFIGS.loader.url = svn+ssh://svn.dev.lithium.com/home/svn/trunk/service/configs
 
script.loaders = SCRIPTS
SCRIPTS.loader.class = lithium.remote.svn.SVNLoader
SCRIPTS.loader.shellLogin = LITHIUM
SCRIPTS.loader.url = svn+ssh://svn.dev.lithium.com/home/svn/trunk/service/scripts