#Stop the StreamSets pipeline for the given environment

${streamsets.command} \\
    ${streamsets.url} \\
	http://${streamsets.host}:${streamsets.port} \\
	--sdc-user ${streamsets.user} \\
	--sdc-password ${streamsets.password} \\
	--config-file '/tmp/${streamsets.configfile}.conf' \\
	--auth-type form pipeline stop \\

sleep 3