#!include common/service.base.config

config.type                       = streamsets
script.group                      = streamsets

host                              = 
hostname                          = ${host}

streamsets.dir                    = /opt/sdc/current
streamsets.bin                    = /opt/sdc/streamsets-datacollector-1.0.0b2/bin
streamsets.logs.dir	              = /var/log/sdc
streamsets.login 	          	  = sdc
streamsets.host                	  = localhost
streamsets.port                	  = 18630
streamsets.user                	  = admin
streamsets.password            	  = admin
streamsets.command 	          	  = sdc-cli
streamsets.url	 	          	  = --sdc-url
streamsets.configfile          	  = Firehose_File_Kafka
